<style>
    .text-muted a{
        text-decoration: none;
        color: black;
    }
</style>
<div>
    <div class="text-center">
    
    <p class="text-muted" style="margin:5px 0"><a style="text-decoration: none; color: black;" href="{% url 'covidmeals:aboutus' %}">Support Us  |  </a><a href="https://docs.google.com/document/d/11D_0WgqWNRE1VELWl2bOYKCW9hmMP3VOOmLg_aHYLKg/edit?usp=sharing">   Privacy Policy  |  </a><a href="{% url 'covidmeals:tc' %}">T&C</a></p>
    <!-- <i class='fab fa-instagram' style='font-size:48px;color:white'></i> -->

    </div>
</div>