{% load static %}
<!DOCTYPE html>
	<head>
		<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
		<link rel="stylesheet" type= "text/css" href= "{% static '/css/styles.css' %}">
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<title>Home</title>
	<header style="padding-bottom: 2%;">
		<img src="../../../static/images/Asset 5.png">
	</header>
	<body style="margin: 5%;">
		<nav>
			<div id=navBar>
				<a href="{% url 'covidmeals:meals' %}">Meals</a>
				<a href="about/">About Us</a>
			</div>
		</nav>

		<section>
			<div class=customHeader>
				<h1><strong> Holistic COVID-19 information for everyone in India.</strong></h1>
				<h5 id=subHeaderText>Get real-time information on emergency bed availability, covid-meal services, vaccine availability and authority guidelines – All in one place.</h5>
			</div>
		</section>
	</body>
	<footer>
		{% include 'covidmeals/footer.html' %}
	</footer>
</html>