{% load static %}
<!DOCTYPE html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type= "text/css" href= "{% static '/css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    </head>
	<title>Home</title>
	<body style="margin: 5%;">
        <header style="padding-bottom: 2%;">
            <img src="../../../static/images/Asset 5.png">
        </header>
		<nav>
			<div id=navBar>
				<a href="{% url 'covidmeals:meals' %}" style="background:rgba(255, 255, 255, 0.7);">Meals</a>
				<a href="/about">About Us</a>
                <span class="w3-xxlarge"><a href="{% url 'covidmeals:index' %}" style="background:none;"><i class="fa fa-home"></i></a></span>
			</div>
		</nav>
        <div class="customheader">
            <h2>Add the details of your meal service for COVID patients here</h2> <!-- Add width wrapper css -->
            <h5>Kindly cross-check for any errors made to avoid any hassles for people <br>trying to connect with you.</h3>
        </div>

        <form id="mealsForm" form="mealsForm" action="/mealForm/" target="_self" method="post">
            {%csrf_token%}
            <p>* marks the mandatory fields</p>
            <div class="form1">
                <!-- <label for="Name">Name : </label> -->
                <p>Enter your Name*</p>
                <input name="Name" type="text" placeholder="Name" maxlength="100" required> <br><br>
                <!-- <label for="Email">Email : </label> -->
                <p>Enter your Email ID</p>
                <input name="Email" type="text" placeholder="Email ID"> <br><br>
                <!-- <label for="phone"> Phone : </label> -->
                <p>Your 10 digit Phone Number*</p>
                <input name="phone"  type="tel" id="idPhone" placeholder="+91" pattern="[6-9]{1}[0-9]{9}" required style="text-align: left;"><br><br>
                <!-- <label for="states">State : </label> -->
                <hr>
                <h2 style="padding-bottom: 10px;">Where are you put up?*</h2>
                <select id="idState" name="states" form="mealsForm" required>
                    <option>State</option>
                </select><br><br>
                <!-- <label for="city">City : </label> -->
                <select id="idCity" name="city" form="mealsForm" required>
                    <option>City</option>
                </select><br><br>
                <!-- <label for="area">Area : </label> -->
                <select id="idArea" name="area" form="mealsForm" required>
                    <option>Area</option>
                </select>
                <hr>
                <!-- <input type="text" placeholder="Areas Serviced"><br><br> -->
            </div>
            <div class="form2">
                <h2>Food Services offered</h2>
                <input type="checkbox" value="Breakfast" name="breakfast">
                <label for="breakfast">&nbsp;Breakfast</label>&nbsp;&nbsp;&nbsp;
                <input type="checkbox" value="Lunch" name="lunch">
                <label for="lunch">&nbsp;Lunch</label>&nbsp;&nbsp;&nbsp;
                <input type="checkbox" value="Dinner" name="dinner">
                <label for="breakfast">&nbsp;Dinner</label> <br><br>

                <h2>Food options available</h2>
                <input type="radio" value="V" name="foodtype">
                <label for="veg">&nbsp;Veg</label><br>
                <input type="radio" value="N" name="foodtype">
                <label for="nonveg">&nbsp;Non Veg</label><br>
                <input type="radio" value="B" name="foodtype">
                <label for="both">&nbsp;Custom Preparation</label>
                <p>Kindly provide additional details for custom prepartion if any below.</p> <br>
                <p>Select whichever is applicable</p>
                <input type="radio" value="F" name="pricing">
                <label for="free">&nbsp;Free</label> <br>
                <input type="radio" value="P" name="pricing">
                <label for="paid">&nbsp;Paid</label>
                <p> If paid service, provide necessary details below</p><br>
               
            </div>
            <div class="form3">
                <textarea name="address" maxlength="250" placeholder="Provide your address here .." rows=4 cols=50 ></textarea>
                <p>Add all the necessary additiona details here</p>
                <textarea name="addDetailsName" placeholder="Any additional details ..." rows=6 cols=50></textarea>
                <p>Delivery Services</p>
                <textarea name="deliveryDetails" placeholder="Delivery options available ..." rows=6 cols=50></textarea>
            </div>
            
            <input type="submit" value="Submit" style="padding: 0 2%; background-color: azure; margin-top: 2em; ">
            
        </form>
        <p style="padding-bottom: 5%;">Note - If you wish to update your details, please write to us via email. The contact information can be found in the About Us page.</p>
        <script src="{% static '/js/get_states.js' %}"></script>
		 <script>
			var stateTag = document.querySelector("#idState");

			function getCitiesFn(){
				var scriptTag = document.createElement("script");
				scriptTag.setAttribute("src","{% static '/js/getCities.js' %}");
				document.body.appendChild(scriptTag);
			}
			stateTag.addEventListener('change', getCitiesFn);
		</script>
		<script>
			var cityTag = document.querySelector("#idCity");
			function getLocalitiesFn(){
				var scriptTag2 = document.createElement("script");
				scriptTag2.setAttribute("src","{% static '/js/getAreas.js' %}");
				document.body.appendChild(scriptTag2);
			}
			cityTag.addEventListener('change', getLocalitiesFn);
		</script>
    </body>
    <footer>
        {% include 'covidmeals/footer.html' %}
    </footer>
</html>
    