{%  load static %}
<!DOCTYPE html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type= "text/css" href= "{% static '/css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
	</head>
	<title>Home</title>
	<header style="padding-bottom: 2%;">
		<img src="../../../static/images/Asset 5.png">
	</header>
	<body style="margin: 5%;">
		<nav>
			<div id=navBar>
				<a href="{% url 'covidmeals:meals' %}" style="background:rgba(255, 255, 255, 0.7); color: black;">Meals</a>
				<a href="{% url 'covidmeals:service-data' %}">Add Meal Service</a>
				<a href="/about">About Us</a>
                <span class="w3-xxlarge"><a href="{% url 'covidmeals:index' %}" style="background:none;"><i class="fa fa-home"></i></a></span>
			</div>
		</nav>

		<section id=filterBar>
            <form action="/meals/" method="GET">
                <select id="idState" name='state' style="margin-bottom: 1em;">
					<option>State</option>
                </select>
				<select id="idCity" name="city" style="margin-bottom: 1em;">
					<option>City</option>
                </select>
				<select id="idArea" name="area" style="margin-bottom: 1em;">
					<option>Area</option>
                </select><br>
				<input id="searchButton" type="submit" >
            </form>
		</section>
		<p>Do you want your meal service to feature on this list? Click <a href="{% url 'covidmeals:service-data' %}">here</a> to enter details</p>
		<!-- <script id="dataIn" type="application/json"></script> -->
         <section id=infotable>
            <div class="meals-grid-container">
				<div class="meals-grid-item-header">Name</div>
				<div class="meals-grid-item-header">Phone</div>
				<!-- <div class="meals-grid-item-header">Address</div> -->
				<div class="meals-grid-item-header">Description</div>
				<!-- <div class="meals-grid-item-header">Delivery</div> -->
				{{searchResults|json_script:"dataIn" }}
				<script id="jsonParser" type="application/javascript">
					// code to get info table data from db and inject data on screen
					var dataObj = document.querySelector(".meals-grid-container");
					var strData = JSON.parse(document.querySelector('#dataIn').textContent);
					var jsonData = JSON.parse(strData);
					for(const item in jsonData){
						
						const divItemName =  document.createElement("div");
						divItemName.setAttribute("class", "meals-grid-item first");
						divItemName.textContent = jsonData[item]["fields"]["name"];

						const divItemPhone =  document.createElement("div");
						divItemPhone.setAttribute("class", "meals-grid-item second");
						divItemPhone.textContent = jsonData[item]["fields"]["phoneNumber"];

						const divItemDetails =  document.createElement("div");
						divItemDetails.setAttribute("class", "meals-grid-item third");
						divItemDetails.textContent = jsonData[item]["fields"]["moreDetails"];

						// const divDelivDetails =  document.createElement("div");
						// divDelivDetails.setAttribute("class", "meals-grid-item fourth");
						// divDelivDetails.textContent = jsonData[item]["fields"]["deliveryDetails"];

						dataObj.appendChild(divItemName);
						dataObj.appendChild(divItemPhone);
						dataObj.appendChild(divItemDetails);
						// dataObj.appendChild(divDelivDetails);


					}
				</script>

			</div>
         </section>
		 <script src="{% static '/js/get_states.js' %}"></script>
		 <script>
			var stateTag = document.querySelector("#idState");
			function getCitiesFn(){
				var scriptTag = document.createElement("script");
				scriptTag.setAttribute("src","{% static '/js/getCities.js' %}");
				document.body.appendChild(scriptTag);
			}
			stateTag.addEventListener('change', getCitiesFn);
		</script>
		<script>
			var cityTag = document.querySelector("#idCity");
			function getLocalitiesFn(){
				var scriptTag2 = document.createElement("script");
				scriptTag2.setAttribute("src","{% static '/js/getAreas.js' %}");
				document.body.appendChild(scriptTag2);
			}
			cityTag.addEventListener('change', getLocalitiesFn);
		</script>
		<footer>
			{% include 'covidmeals/footer.html' %}
		</footer>
	</body>
	
	
</html>