body {
    background: black;
    color: white;
    margin:5%;
    height:100%;  
    font-family: 'Space Grotesk', sans-serif;  
}
/*------------------- HEADER BAR ---------------------------*/

#navBar a{  /* implement with flex box if reqd*/
    padding: 0.5% 2%;
    background: rgb(112,128,144,50%);
    border-radius : 5px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin-right: 15px;
}
#navBar a:hover{
    background:  rgb(112,128,144,70%);
}
nav span a{
    position: absolute;
    right: 5%;
    top: 5%;
  }


  /*------------------- SECTION FILTER SELECTS ------------------------*/

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }
select, input[type="text"], input[type="tel"] {
    /* A reset of styles, including removing the default dropdown arrow */
    /* appearance: none; */
    /*  Additional resets for further consistency */
    background-color: #fff;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin: 1%;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: inherit;
    line-height: 1.1;
    outline: none;
    cursor: pointer;
    text-align: center;

  }
  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    
  }
  #idState:focus option:first-of-type {
    display: none;
  }
  #idCity:focus option:first-of-type {
    display: none;
  }
  #idArea:focus option:first-of-type {
    display: none;
  }

  #searchButton{
      position: relative;
      top:0;
      left: 0;
      margin: 2% 0;
  }


/*------------------- SECTION HEADER TEXT ------------------------*/
section {
    margin: 5% auto;
    font-family: 'Space Grotesk', sans-serif;
    
}

.customHeader h1{
    padding: 5% 0;
    font-size: xx-large;
    width: 45%;
}

.customHeader h2{
    /* font-size: 40; */
}

.customHeader h3{
    /* font-size: 30; */

}
.customHeader h5{
    font-size: large;
    width:60%;
}
@media (max-width:600px){
    .customHeader h1{
        padding: 5% 0;
        font-size: xx-large;
        width: 50%;
    }
    .customHeader h5{
        font-size: medium;
        width:80%;
    }
}

/*------------------- SECTION TABLE ------------------------*/

.meals-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    row-gap: 15px;
    column-gap: 15px;
    margin-right: 1%;
}

.meals-grid-item-header{
    background: rgb(255,255,255);
    border-radius: 8px;
    padding:2%;
    text-align: center;
    color: black;

}

.meals-grid-item{
    background: rgb(112,128,144,50%);
    border-radius: 8px;
    padding:10%;
    text-align: center;

}

@media (max-width:600px){

    .meals-grid-item-header{
        /* background: rgb(255,255,255);
        border-radius: 8px;
        padding:2%;
        text-align: center;
        color: black; */
        display:none;
    }
    .meals-grid-container{
        display:flex;
        flex-direction: column;
        /* background: rgb(255,255,255); */
        /* border-radius: 5px; */
        margin: 5%;
        row-gap: 0;
        /* grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 2fr; */
        /* row-gap: 15px;
        column-gap: 15px; */
        /* margin-right: 1%; */
    }
    .meals-grid-item{
        width:100%;
        background: rgb(112,128,144,50%);
        border-radius: 0;
        padding:10%;
        text-align: center;
    
    }
    .meals-grid-item.first{
        background: #848484;    
    
    }
    .meals-grid-item.second{
        background: #6d6d6d;
        
    }
    .meals-grid-item.third{
        background: #424242;
        margin-bottom: 20px;
    
    }
}


/*------------------- END SECTION TABLE ------------------------*/


/*------------------- FOOTER ----------------------------------*/

footer {
    width:100%;
    color: black;
    background-color: white;
    border-radius: 5px;
    line-height:110%;    
    position:fixed;
    left:0;
    bottom: 0;

    
}

footer .text-center{
    text-align: center;
}


/*------------------- END FOOTER ------------------------------*/

div {
    font-family: 'Space Grotesk', sans-serif;
}
